#btnConnect{
  position: relative;
  color: white;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  background: linear-gradient(90deg, #1077C0, #FF0066, #FF6D00);
}

#btnConnect .chain-svg{
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 10px;
}

#btnConnect .metamask-svg{
  position: absolute;
  left: 10px;
  top: 9px;
  bottom: 10px;
}

#btnConnect .trustwallet{
  position: absolute;
  left: 45px;
  top: 9px;
  bottom: 10px;
}

#btnConnect:hover .chain-svg {
  transform: scale(1.1); 
  transition: transform 0.2s ease;
}

#btnConnect:disabled{
  width: 59%;
  background: #EBECED;
  color: #353535;
}

.referral-link{
  margin-top: 15px;
  background: linear-gradient(90deg, #1077C0, #FF0066, #FF6D00);
}

#btnDisconnect{
  width: 40%;
  position: relative;
  color: white;
  box-sizing: border-box;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

#btnDisconnect.hidden{
  display: none;
  width: auto;
}